:root {
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: var(--bs-bg-light);
    color: #211138;
}

.property-title a {
    text-decoration: none;
}
.property-description {
    overflow: hidden;
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
    overflow: hidden !important;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
}

.card-rounded {
    border-radius: 9px;
}
.card-rounded-top {
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

.grid-margin {
    margin: 0.6rem;
}

.card-body {
    padding: 1.25rem;
}

.card {
    border: none;
}

.property-card {
    min-height: 350px !important;
}
.property-card h4 {
    color: #74C8F8;
}

.btn {
    border-radius: 5px;
}

.additional-info th {
    font-size: 1.2rem;
    font-weight: 500;
}

.overlay-div {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: #000;
    opacity: .4;
}

.datepicker td, th {
    text-align: center;
    padding: 8px 12px;
    font-size: 1.25rem;
    font-weight: 400;
}

.dropdown-menu {
    color: var(--bs-primary);
}

.input-daterange input {
    font-weight: 600;
}

.disabled-date {
    color: var(--bs-danger) !important;
    text-decoration: line-through;
    opacity: 0.35;
}

.datepicker table tr td.active {
    background-color: var(--bs-gray-900) !important;
    background-image: none !important;
}

