@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="">
        <a class="nav-link"><i class="fa-solid fa-person-shelter"></i> My Rentals</a>
    </li>
    <li class="">
        <a class="nav-link" asp-area="" asp-route-id="@UserManager.GetUserAsync(User).Result.Id" asp-controller="Properties" asp-action="MyProperties">
            <i class="fa-solid fa-house-user"></i> My Properties
        </a>
    </li>
    <li class="">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
            <i class="bi bi-person-fill"></i> @UserManager.GetUserAsync(User).Result.FirstName @UserManager.GetUserAsync(User).Result.LastName
        </a>
    </li>
    <li class="">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="nav-link btn btn-link">
                <i class="bi bi-box-arrow-right"></i> Logout
            </button>
        </form>
    </li>
}
else
{
    <li class="">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">
            <i class="bi bi-person-plus-fill"></i> Register
        </a>
    </li>
    <li class="">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">
            <i class="bi bi-box-arrow-in-right"></i> Login
        </a>
    </li>
}
