@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="card card-rounded grid-margin">
            <div class="card-body text-center">
                <h1 class="display-4">Welcome</h1>
                <h5 class="mb-4">Rent anywhere, anytime, for low prices.</h5>
                <hr />
                <div class="container">
                    <div class="row d-flex justify-content-center">
                        <div class="col-7">
                            <p>
                                Lorem Ipsum Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus accumsan blandit. Aliquam erat volutpat.
                                Nulla aliquet metus at sollicitudin pretium. Aenean sed hendrerit magna. Fusce laoreet dolor nulla, interdum laoreet tortor ullamcorper vel.
                                Nullam quis malesuada justo. Morbi vitae orci ac tortor semper ultrices et nec sapien.
                            </p>
                            <p>
                                Mauris vitae velit nulla. Integer eu ligula nec justo faucibus consequat nec eu augue.
                                Cras molestie justo quis massa egestas, vel cursus nibh ultricies.
                                Fusce iaculis euismod odio quis finibus.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>